@import "tailwindcss";

 @custom-variant dark (&:where(.dark, .dark *)){

  }

  
    @theme {
        --color-light: #d9d9d9;
        --color-dark: #090126;
        --color-primary: #2a0478;   /* morado principal */
        --color-secondary: #1c4f96; /* azul secundario */
        --color-accent: #FF0453;    /* rosa acento */
        --color-muted: #a3a3b2;
        --color-info: #F2AB27;      /* celeste fuerte, como neón galáctico */
    

        --color-l-background: #FFFAEB;
        --color-l-background-2: #FDF2EC;
        --color-l-text: #2B2B2B;
        --color-l-text-2: #595959
        --color-l-primary: #FF6B81; 
        --color-l-secondary: #FDBF60;
        --color-l-accent: #A4D7E1;
        --color-l-highlight: #D8A6FF; 
    }
      

@layer components {
    .btn-primary {
        @apply bg-primary text-white font-bold py-2 px-4 rounded rounded-lg hover:bg-light;
    }
    .btn-secondary {
        @apply bg-transparent hover:bg-primary text-primary dark:text-light font-semibold rounded rounded-lg hover:text-white py-2 px-4 border border-primary dark:border-light hover:border-transparent rounded;
    }

    .link{
        @apply hover:text-accent dark:hover:text-info transition;
    }

    .title{
        @apply pb-8 text-center font-bold text-4xl lg:text-6xl text-dark dark:text-light mb-4;
    }
    .pill-primary{
        @apply flex justify-center md:justify-start items-center gap-2 bg-primary dark:bg-accent text-white font-bold py-2 px-4 min-w-[146px] rounded-full text-sm;
    }
    .pill-secondary{
        @apply flex justify-center md:justify-start items-center gap-2 bg-transparent hover:bg-accent text-primary dark:text-light font-semibold rounded-full text-sm hover:text-white py-2 px-4 
        border border-primary dark:border-light hover:border-transparent;
    }
    .neon{
        @apply shadow-xl hover:shadow-2xl transition transform hover:scale-105 hover:shadow-[0_0_25px_rgba(150,150,255,0.8)]
    }
  
  }

  @media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
  }

  html.no-transition * {
    transition: none !important;
  }
  
  @keyframes gradient-x {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .animate-gradient-x {
    background-size: 200% 200%;
    animation: gradient-x 5s ease infinite;
  }

  .auto-rotate {
    animation: autoRotateAnimation both;
    animation-timeline: view(10% 30%);
  }
  @keyframes autoRotateAnimation {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }

  .autoshow {
    animation: autoShowAnimation both;
    animation-timeline: view(40% 30%);
  }

  @keyframes autoShowAnimation {
    from{
      opacity: 0;
      transform: translatey(200px) scale(0.3);
    }
    to{
      opacity: 1;
      transform: translatey(0px) scale(1);
    }
  }

  .auto-blur{
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
  }

  @keyframes autoBlurAnimation {
    0%{
      filter: blur(40px);
    }
    45%, 55%{
      filter: blur(0px);
    }
    100%{
      filter: blur(40px);
    }
  }

  @keyframes slide-face-in {
    from{
      transform: translateY(5vh);
      opacity: 0;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .card-animation {
      view-timeline-name: --item-timeline;
      animation: slide-fade-in both;
      animation-timeline: --item-timeline;
      animation-range: contain 0% contain 50%;
    }
  }