---
import Layout from "../layouts/Layout.astro";


---

<Layout title="About" description="About me page">
  <h1 class="title">
    About
  </h1>
  <p>This is the about page.</p>
    <p>Here you can find information about me.</p>
    <p>My name is Franco Ortiz, I am a web developer.</p>
</Layout>