---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="">
		<h1 class="title">
			Hola Soy Franco Ortiz Fullstack developer
		</h1>
		<p class="text-center">
			Desarrollador web con experiencia en la creación de aplicaciones
			dinámicas y escalables. Me apasiona aprender nuevas tecnologías y
			aplicarlas en mis proyectos.
		</p>
		<div>
			<a class="btn-primary" href="/contact">Contactame!</a>
			<a class="btn-secondary" href="/projects">Ver Proyectos</a>
		</div>
	</div>
</Layout>
