---
import Layout from "../layouts/Layout.astro";


---
<section  id={Astro.props.id}>
  <h1 class="title">
    About
  </h1>
  <div class="backdrop-blur-lg shadow-md p-2 md:p-4 lg:p-8 py-12 rounded-md text-center">
    <p class="text-pretty">This is the about page.
      Here you can find information about me.
      My name is Franco Ortiz, I am a web developer.</p>

  </div>
  
    
</section>
  
