---
import SectionContainer from "@layouts/SectionContainer.astro"
import Layout from "../layouts/Layout.astro"
---
<SectionContainer id={Astro.props.id}>
    <h1 class="title">Contact</h1>
    <p>Tienes una idea para un proyecto? Hablemos para volverla realidad</p>
</SectionContainer>

