---
let year = new Date().getFullYear();
---

<footer class="w-full bg-gray-800 text-white p-4 mt-8 fixed bottom-0 left-0">
    <div class="max-w-6xl mx-auto text-center">
        <p class="text-sm">© {year} Franco Ortiz.</p>
        <p class="text-sm">Built with Astro and Tailwind CSS</p>
    </div>
</footer>