---
let year = new Date().getFullYear();
---

<footer class="w-full bg-transparent text-primary dark:text-secondary p-4 mt-8">
    <div class="max-w-6xl mx-auto text-center">
        <p class="text-sm">© {year}, Franco Ortiz.</p>
        <p class="text-sm">Built with Astro and Tailwind CSS</p>
    </div>
</footer>