---
import { Menu } from '@lucide/astro';
import ThemeToggle from './ThemeToggle.astro';
import Logo from './Logo.astro';

---

<header class="sticky top-0 z-50 w-screen bg-zinc-50 dark:bg-zinc-950 md:bg-transparent dark:md:bg-transparent md:backdrop-blur-sm ">
    <nav class="bg-transparent max-w-6xl mx-auto p-4">
        <div class="container flex justify-between items-center mx-auto">
            <a class="flex items-center gap-x-2 text-primary dark:text-white font-bold text-2xl" 
                href="/">
              <Logo class="size-10 rounded-full mx-auto text-primary dark:text-light" />
              <span class="hidden md:block md:text-2xl">Franc<span class="text-accent">O</span>rtiz<span class="text-pink">.</span></span>
            </a>
          
      
          <div class="md:hidden ">
            <input type="checkbox" id="menu-toggle" class="hidden peer absolute" />
      
            <label for="menu-toggle" class="cursor-pointer flex items-center">
              <Menu id="menu-toggle"/>
            </label>
      
            <div class="hidden peer-checked:block absolute right-0 mt-6 w-full bg-zinc-50 dark:bg-zinc-950 rounded-lg shadow-lg p-4 space-y-3 text-center">
              <a href="/" class="block link">Home</a>
              <a href="#about" class="block link">About</a>
              <a href="#projects" class="block link">Projects</a>
              <a href="#skills" class="block link">Skills</a>
              <a href="#contact" class="block link">Contact</a>
              <ThemeToggle/>
            </div>
            
          </div>
          <div class="hidden md:flex md:items-center md:space-x-8">
            <ul class="md:flex space-x-8">
            <li><a href="/" class="link">Home</a></li>
            <li><a href="#about" class="link">About</a></li>
            <li><a href="#projects" class="link">Projects</a></li>
            <li><a href="#skills" class="link">Skills</a></li>
            <li><a href="#contact" class="link">Contact</a></li>
          </ul>
            <ThemeToggle/>
          </div>
          
          
        </div>
      </nav>

</header>
<script>
  const buttons = document.querySelectorAll('.theme-toggle');

  buttons.forEach(button => {
    button.addEventListener('click', () => {
      const isDark = document.documentElement.classList.toggle('dark');
      localStorage.theme = isDark ? 'dark' : 'light';
    });
  });
</script>

