---

---
<section class="flex flex-col items-start justify-center ">
        <div class="backdrop-blur-lg shadow-md p-2 md:p-4 lg:p-8 py-12 rounded-md text-center">
            <h1 class="title max-w-100%">
                Hola! Soy 
                Franco Ortiz Fullstack developer
            </h1>
            <p class="text-left my-4 text-lg max-w-2xl text-xl">
                Desarrollador web con experiencia en la creación de aplicaciones
                dinámicas y escalables. Me apasiona aprender nuevas tecnologías y
                aplicarlas en mis proyectos.
            </p>
            <div>
                <a class="btn-primary" href="/contact">Contactame!</a>
                <a class="btn-secondary" href="/projects">Ver Proyectos</a>
            </div>
        </div>
    
</section>