---
import { Download, Linkedin } from "@lucide/astro";
import { Github } from "@lucide/astro";
import { Mail } from "@lucide/astro";
import Logo from "./Logo.astro";
import SectionContainer from "@layouts/SectionContainer.astro";
---
<SectionContainer  id={Astro.props.id} >
    <div class="grid grid-cols-1 md:grid-cols-12 gap-4 mt-4">
        <h1 class="col-span-6 title text-start self-center">
            Hola! Soy 
            <br>
            <span>Franco Ortiz</span>
        </h1>
        <Logo
            class="col-span-6 size-32 md:size-64 rounded-full mx-auto mb-4 text-primary dark:text-secondary border" />
    
        <p class="col-span-12 text-left my-4 text-lg max-w-2xl text-xl text-pretty">
            Desarrollador web con experiencia en la creación de aplicaciones
            dinámicas y escalables. Me apasiona aprender nuevas tecnologías y
            aplicarlas en mis proyectos.
        </p>

        <div class="col-span-12 md:col-span-8 flex flex-col md:flex-row items-start justify-start gap-4">
            <a class="pill-secondary" href="#contact">
                <Mail />
                <span>francortiz.c@gmail.com</span>
            </a>
            <a class="pill-primary" href="#projects">
                <Linkedin />
                <span>Linkedin</span>
            </a>
            <a class="pill-primary" href="#projects">
                <Github />
                <span>Github</span>
            </a>
            
            <a 
            href="/assets/Franco-Ortiz-CV.pdf" 
            target="_blank" 
            aria-label="Descargar CV de Franco Ortiz"
            class="pill-primary"
          >
            <Download />
            <span>Curriculum</span>
          </a>
        </div>
        
              
    </div>    
   
</SectionContainer>    

