---
import { Sun, Moon } from '@lucide/astro';
---
<button class="hover:bg-gray-400 p-2 rounded-full" aria-label="Toggle dark mode"
  onclick="document.documentElement.classList.toggle('dark')">
  <Sun class="block dark:hidden" />
  <Moon class="hidden dark:block" />
</button>
