---
import { Sun, Moon } from '@lucide/astro';
---

<button class="theme-toggle hover:text-white hover:bg-primary hover:dark:bg-info p-2 rounded-full cursor-pointer" aria-label="Toggle dark mode">
  <Sun class="hidden dark:block" />
  <Moon class="block dark:hidden" />
</button>

<script>
  // Seleccionar todos los botones con el ID 'theme-toggle'
  const buttons = document.querySelectorAll('#theme-toggle');
  
  buttons.forEach(button => {
    button.addEventListener('click', () => {
      // Alternar la clase 'dark' en el <html> para cambiar el tema
      const isDark = document.documentElement.classList.toggle('dark');
      // Guardar la preferencia en localStorage
      localStorage.theme = isDark ? 'dark' : 'light';
    });
  });
</script>