---
import { Menu } from '@lucide/astro';
import ThemeToggle from './ThemeToggle.astro';

---

<header>
    <nav class="bg-gray-800 text-white p-4">
        <div class="flex justify-between items-center max-w-6xl mx-auto">
          <div class="text-xl font-bold">
            <a href="/">Franco Ortiz</a>
          </div>
      
          <div class="md:hidden relative">
            <input type="checkbox" id="menu-toggle" class="hidden peer absolute" />
      
            <label for="menu-toggle" class="cursor-pointer flex items-center">
              <Menu/>
            </label>
      
            <div class="hidden peer-checked:block absolute right-0 mt-2 w-40 bg-gray-800 rounded-lg shadow-lg p-4 space-y-3">
              <a href="/" class="block link">Home</a>
              <a href="/about" class="block link">About</a>
              <a href="/projects" class="block link">Projects</a>
              <a href="/skills" class="block link">Skills</a>
              <a href="/contact" class="block link">Contact</a>
              <li><ThemeToggle/></li>
            </div>
          </div>
      
          <ul class="hidden md:flex space-x-8">
            <li><a href="/" class="link">Home</a></li>
            <li><a href="/about" class="link">About</a></li>
            <li><a href="/projects" class="link">Projects</a></li>
            <li><a href="/skills" class="link">Skills</a></li>
            <li><a href="/contact" class="link">Contact</a></li>
            <li><ThemeToggle/></li>
          </ul>
        </div>
      </nav>

</header>