---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Franco Ortiz - Portfolio</title>
	</head>
	<body class="bg-zinc-50 dark:bg-neutral-950 dark:md:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] 
				text-black dark:text-white transition-colors duration-300">
		<Header/>
		<main class="flex flex-col items-center justify-center max-w-6xl mx-auto px-4 py-2">
			<slot />
		</main>
		<Footer/>
	</body>
</html>
